<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vst/papatya</title>
    <meta name="description" content="Home Page for vst/papatya">
    <meta name="author" content="https://github.com/vst">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
     body {
         line-height: 1.7em;
         color: #0F629F;
         background: #1FA2FF;
         background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
         background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
         font-family: monospace;
         font-size: 32pt;
         padding: 0;
         margin: 0;
     }
     .box {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
     }
    </style>
  </head>
  <body>
    <div class="box">
      <strong>Your daily random number is </strong>&nbsp;<!--rinline rnorm(1) -->
    </div>
  </body>
</html>
